{% extends 'base.html' %}

{% block body %}
<style>
    .th{color:#fff}
</style>
<div class="container">
  <h2>Total Sale List</h2>          
  <table class="table table-striped">
    <thead>
      <tr style="background: deepskyblue;">
        <th class="th">Product</th>
        <th class="th">Category</th>
        <th class="th">Unit Price</th>
        <th class="th">Quantity</th>
        <th class="th">Discount %</th>
        <th class="th">Tax %</th>
        <th class="th">Total Price</th>
        <th class="th">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for row in sales %}
        <tr>
            <td>{{ row.product_name }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.unit_price }}</td>
            <td>{{ row.quantity }}</td>
            <td>{{ row.discount_percent }}</td>
            <td>{{ row.tax_percent }}</td>
            <td>{{ row.total }}</td>
            <td>{{ row.sale_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>




{% endblock body %}